appdirs==1.4.3
click==6.7
-e git+git@github.com:spMohanty/crowdai-client-py.git@9b9ee483ac6758591862d168e172d82709dec4ed#egg=crowdai
e==1.4.5
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.21.0
Flask==0.12.1
Flask-SocketIO==2.8.6
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
python-engineio==1.5.1
python-socketio==1.7.4
requests==2.14.1
six==1.10.0
socketIO-client==0.7.2
termcolor==1.1.0
tqdm==4.11.2
websocket-client==0.40.0
Werkzeug==0.12.1
